# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Virtual environment =====
venv/
.env/

# ===== Jupyter / IDE =====
.ipynb_checkpoints/
.vscode/
.idea/

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Streamlit =====
.streamlit/secrets.toml

# ===== Logs =====
*.log
